@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 0.99;
  }
  20%,
  24%,
  55% {
    opacity: 0.4;
  }
}
.animate-flicker {
  animation: flicker 3s infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.animate-typewriter {
  animation: typewriter 8s steps(30) 1 normal both;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in-up {
  animation: fade-in-up 1s ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fade-in 3s ease-in forwards;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff0000, 0 0 10px #cc0000;
  }
  100% {
    text-shadow: 0 0 10px #ff4444, 0 0 20px #aa0000;
  }
}
.animate-glow {
  animation: glow 2s ease-in-out infinite alternate;
}
