.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: pre-wrap; /* Keeps the content on a single line */
  color: red;
  font-weight: bolder;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 6s steps(100, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}